/*Removes default on the body-tag*/
body{
    margin:1px;
}
section{
  height: 1000px;
  width: 1000px;
}
div{
  height: 125px;
  width: 125px;
  float: left;
}
#red{
  background-color: red;
}
#black{
  background-color: black;
  border: black;
}
button{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-left: 12.5px;
  margin-top: 12.5px;
}
#white{
  background-color: white;
}
img{
  height: inherit;
  width: auto;
}
